# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Streamlit secrets (local only)
.streamlit/secrets.toml

# Ignore OS-specific files
.DS_Store
Thumbs.db